@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

.is-family-monospace {
  font-family: 'Roboto Slab', serif;
}

.has-text-info {
  color: #0290ff !important;
}

.button.is-info {
  background-color: #0290ff !important;
}

a,
.autor {
  color: #4386bf !important;
}

.select.is-fullwidth select {
  width: 17.813rem !important;
}